@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    transition: all 150ms ease;
}

body {
    font-family: 'Noto sans', sans-serif;
}

header {
    padding: 10px;
    position: fixed;
    float: left;
    width: 20%;
    height: 100vh;
    background-color: blue;
    color: white;
}

h1 {
    cursor: default;
}

nav {
    margin-top: 2em;
}

nav>div {
    font-weight: 500;
    margin: 5px 0;
    border-radius: 10px;
}

nav>div>div {
    padding: 10px;
}

.pointer {
    cursor: pointer;
}

#findNav>input{
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

#findNav {
    margin-bottom: 35px;
}

#rakListNav {
    padding: 0 0 10px 20px;
}

nav>div:hover,
.onFocusBg {
    box-shadow: 0 0 1px 2px white;
}

.onFocusBg {
    background-color: white;
    color: blue;
}

.hide {
    display: none !important;
}

#rakListNav input {
    width: auto;
}

h1 {
    font-style: italic;
}

main {
    width: 80%;
    float: right;
}

article {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

h2 {
    background-color: blue;
    color: white;
    padding: 10px;
}

.form-element {
    text-align: left;
    margin: 10px 0;
}

input[type="submit"] {
    padding: 10px 15px;
    ;
    background-color: rgb(0, 180, 0);
    color: white;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    width: 40%;
    height: auto;
    cursor: pointer;
}

input[type="submit"]:focus {
    background-color: rgb(0, 233, 12);
}

.card {
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

input {
    width: 100%;
}

input[type="text"],
input[type="number"],
select {
    height: 2em;
}

select {
    margin: 0 10px;
}

input[type="radio"] {
    width: auto;
    margin-left: 10px;
}

input[type="radio"]:first-child {
    margin-left: 0;
}

#messageSubmit {
    color: red;
}

.book-title {
    font-size:1.5em;
    margin-bottom: 10px;
    color: blue;
}

.text-on-book-container {
    flex-basis: 87%;
    padding: 15px;
}

.misc-on-book-container {
    flex-basis:13%;
    display: flex;
    flex-direction: column;
}

.book-container {
    border-radius: 15px;
    display: flex;
}

.star-color {
    background: url(../assets/img/star-color.png);
    background-size: cover;
    width: auto;
    height: 100%;
    border: none;
}

.star-grayscale {
    background: url(../assets/img/star-grayscale.png);
    background-size: cover;
    width: auto;
    height: 100%;
    border: none;
}

.edit-button {
    background: url(../assets/img/edit.png);
    background-size: cover;
    width: auto;
    height: 75%;
    border: none;
    cursor: pointer;
}

.remove-button {
    background: url(../assets/img/remove.png);
    background-size: cover;
    width: auto;
    height: 75%;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}