@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    margin:0px;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
nav a:hover{
    font-weight: bold;
}
.profile header{
    text-align:center;
}
h2,h3{
    color: #00a2c6;
}
body>main, body>header{
    margin: 10px;
}
footer{
    background-color: #00a2c6;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}