@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');
body{
    font-family: 'Kanit', sans-serif;
    background-color:rgb(13, 0, 14);
    background-size: contain;
    margin:0px;
    text-align:center;

}
main{
    width:50%;
    height:80vh;
    margin:auto;
    display:block;
    padding-top:10vh;
}
main *{
    margin-top:1vh;
    margin-bottom:1vh;
}
code{
    color:white;
}
main h1{
    font-size:4em;
    color: white;
    text-align:left;

}
main h2{
    font-size:1.5em;
    text-align:right;
    color:white;
    line-height:0.7em;
}
h2::after{
    content: ".";
    color: red;
    font-size: 40px;
}
blockquote{
    font-family:monospace;
    line-height:1.5em;
    color:white;
    font-size:18px;
    text-align:right;
}
blockquote::before{
    content:'{';
    color:red;
    font-size: 24px;
}
blockquote::after{
    content:'}';
    color:red;
    font-size: 24px;
}
footer{
    height: 5%;
    padding-top: 2%
}