@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F2F8FF;
    color: #133F5D;
    font-family: 'Open Sans';
}

header {
    position: fixed;
    padding: 30px 20px 30px 20px;
    background-color: white;
    float: left;
    width: 15%;
    height: 100vh;
}

h1 {
    font-style: italic;
    color: #4195D5;
    font-size: 24px;
}

nav {
    padding: 40px 0 40px 0;
    font-size: 12px;
}

nav>div {
    margin-bottom: 10px;
}

.nav-button {
    font-size: smaller;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 10px;
    height: 100%!important;
    border-radius: 10px;
}

.nav-button-on {
    background-color: #F7FBFD;
    color: #4195D5;
}

.nav-inner {
    display: flex;
}

.nav-icon {
    background-position: center;
    padding: 15px;
    background-size: contain;
    background-repeat: no-repeat !important;
    width: 100%;
    height: auto !important;
}

.nav-dashboard-icon-off {
    background: url('../img/dashboard-nav-off.svg');
}

.nav-dashboard-icon-on {
    background: url('../img/dashboard-nav-on.svg');
}

.nav-store-icon-off {
    background: url('../img/store-nav-off.svg');
}

.nav-store-icon-on {
    background: url('../img/store-nav-on.svg');
}

.nav-profile-icon-off {
    background: url('../img/profile-nav-off.svg');
}

.nav-profile-icon-on {
    background: url('../img/profile-nav-on.svg');
}

aside {
    margin-bottom: 30px;
}

aside>div {
    min-height: auto !important;
}

#trainer-profile-button {
    cursor: pointer;
}

.button-trainer-on {
    background-color: #4195D5 !important;
    color: white;
}

.button-trainer-off {
    background-color: white !important;
    color: #4195D5;
}

.hide {
    display: none !important;
}

.trainer-profile {
    display: flex;
    align-items: center;
}

.trainer-profile h4 {
    padding: 10px 20px 10px 10px;
    font-size: 18px;
}

main {
    width: 85%;
    height: 100%;
    height: auto;
    padding: 30px;
    padding-right: 0;
    float: right;
}

.card {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    padding: 20px 15px;
}

.card-low-padding {
    padding: 10px 5px;
}

.heading {
    width: 100%;
    display: flex;
    align-items: center;
}

.icon-container {
    width: auto;
    height: auto;
    border: 1px solid #9CC8E7;
    border-radius: 5px;
    padding: 5px;
    background-color: #F7FBFD;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.my-pokemon-icon {
    background-image: url('../img/Vector.svg'), url('../img/Vector-1.svg');
}

.tournaments-icon {
    background-image: url('../img/tournaments.svg');
}

.item-icon {
    background-image: url('../img/item.svg');
}

.region-icon {
    background-image: url('../img/map-pin.svg');
}

.announcements-icon {
    background-image: url('../img/announcements.svg');
}

.heading>h3 {
    padding-left: 10px;
    flex-basis: 65%;
}

span {
    position: absolute;
    color: red;
    margin-top: 60px;
}

#stats-button {
    flex-basis: 25%;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100px;
}

.stats-off {
    border: 1px solid #9CC8E7;
    color: #6FAFDC;
}

.stats-on {
    border: 1px solid #CAE2F2;
    background-color: #4195D5;
    color: white;
}

#stats-button>div {
    display: flex;
}

.stats-icon {
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 35%;
    height: auto;
}

.stats-icon-off {
    background-image: url('../img/bar-chart-2.svg');
}

.stats-icon-on {
    background-image: url('../img/bar-chart-2-white.svg');
}

.stats-head {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 1em 2em;
}

.stats-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 80%;
}

.stats-table {
    padding: 10px;
    width: auto;
    height: auto;
    border-spacing: 10px;
}

.stats-table td {
    padding: 0 5px;
}

.stats-bar {
    height: 10px;
    background-color: #93C854;
    border-radius: 100px;
}

.table-row {
    width: 100%;
    padding: 6px;
    text-align: left;
    align-items: center;
}

.content {
    /* padding: 10px; */
    width: 100%;
    height: 100%;
}

.content>* {
    margin-bottom: 10px;
}

.content>p {
    font-size: 14px;
    font-weight: 400;
    width: 80%;
    height: auto;
}

.content h4 {
    color: #133F5D;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Odibee Sans'
}

.elements {
    display: flex;
    align-items: center;
}

.elements>div {
    flex-basis: 20%;
    flex-shrink: 1;
    border-radius: 20px;
    text-align: center;
    font-weight: lighter;
    color: white;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.elements>div:first-child {
    margin-left: auto;
}

.elements>div:last-child {
    margin-right: auto;
}

.fire {
    background-color: #eb5b51;
}

.grass {
    background-color: #93C854;
}

.poison {
    background-color: #B154C8;
}

.water {
    background-color: #5494c8;
}

figure {
    width: 100%;
    height: auto;
    padding: 20px;
}

figure>img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 60%;
}

p {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

.outer-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: 470px;
    margin-bottom: 30px;
}

.outer-container:last-child {
    margin-bottom: 0;
}

.inner-container {
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 1;
}

.double {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 100%;
}

.margin {
    margin-right: 30px;
}

.pokemon-nav {
    display: flex;
    align-items: center;
}

.pokemon-nav>div {
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    background-color: #CAE2F2;
}

.pokemon-nav>div:first-child {
    margin-left: auto;
}

.pokemon-nav>div:last-child {
    margin-right: auto;
}

.pokemon-nav>div {
    margin: 5px;
}

.active-pokemon {
    background-color: #4195D5 !important;
}

.calendar-outer {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#calendar {
    border-spacing: 10px;
    font-size: 12px;
}

#calendar tr {
    display: flex;
    margin-bottom: 10px;
}

#calendar th,
#calendar td {
    flex: 1;
}


#calendar p {
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.grey {
    color: #CAE2F2;

}

.bg {
    color: #6FAFDC;
    background-color: #F7FBFD;
}

.today {
    background-color: #4195D5;
    color: white;
}

.day-ofevent {
    border: 2px solid #4195D5;
}

.map-container {
    display: flex;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
}

.map {
    background-image: url('../img/map.svg');
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#announcements {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.announcement {
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.announcement:last-child {
    border-bottom: 0;
}

.event-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.event-outer-img {
    flex: 1;
    border-radius: 100px;
    justify-content: center;
}

.event-anniv5th-img {
    background-image: url('../img/pokemon-5th-anniversary.png');
}

.event-pokefest-img {
    background-image: url('../img/pokemongo-fest.jpg');
}

.event-details {
    display: flex;
    flex: 1;
    flex-basis: 75%;
    flex-direction: column;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: #133F5D;
}

.event-head {
    text-align: left;
    font-weight: 600;
}

.event-date {
    text-align: right;
    font-size: small;
}