@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F2F8FF;
    color: #133F5D;
    font-family: 'Open Sans';
}

header {
    position: fixed;
    padding: 30px 20px 30px 20px;
    background-color: white;
    float: left;
    width: 15%;
    height: 100vh;
}

h1 {
    font-style: italic;
    color: #4195D5;
    font-size: 24px;
}

nav {
    padding: 40px 0 40px 0;
    font-size: 12px;
}

nav>div {
    margin-bottom: 10px;
}

main {
    width: 85%;
    height: 100%;
    height: auto;
    padding: 30px;
    padding-right: 0;
    float: right;
}

.card {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    outline: 6px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.heading {
    width: 100%;
    display: flex;
    align-items: center;
}

.icons {
    flex-basis: 30px;
    height: 100%;
    border: 1px solid #9CC8E7;
    border-radius: 5px;
    padding: 5px;
    background-color: #F7FBFD;
}

.my-pokemon-icon {
    background-image: url('../img/Vector.svg'), url('../img/Vector-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.heading>h3 {
    padding-left: 10px;
    flex-basis: 65%;
}

span {
    position: absolute;
    color: red;
    margin-top: 60px;
}

#stats-button {
    flex-basis: 25%;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100px;
}

.stats-off {
    border: 1px solid #9CC8E7;
    color: #6FAFDC;
}

.stats-on {
    border: 1px solid #CAE2F2;
    background-color: #4195D5;
    color: white;
}

#stats-button>div {
    display: flex;
}

.stats-icon {
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 35%;
    height: auto;
}

.stats-icon-off {
    background-image: url('../img/bar-chart-2.svg');
}

.stats-icon-on {
    background-image: url('../img/bar-chart-2-white.svg');
}

.stats-head {
    display: flex;
    width:30%;
    height:auto;
    align-items: center;
    justify-content: center;
    margin: 1em 2em;
}

.stats-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 80%;
}

.stats-data {
    display: flex;
}

.stats-data p {
    padding: 6px;
    text-align: left;
}

.stats-bar {
    flex: 1;
    height: 1em;
    background-color: #93C854;
    border-radius: 100px;
}

.bar-div {
    flex: 1;
}

.bar-column {
    width: 100%;
    padding: 6px;
    justify-content: left;
    outline: 1px solid blue;
}

.stats-column {
    outline: 1px solid red;
    display: flex;
    padding: 6px;
    flex-direction: column;
}

.content {
    padding: 10px;
    height: 100%;
}

.content>* {
    margin-bottom: 10px;
}

.content>p {
    font-size: 14px;
    font-weight: 400;
    width: 80%;
    height: 20%;
}

.content h4 {
    color: #133F5D;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Odibee Sans'
}

.elements {
    display: flex;
    align-items: center;
}

.elements>div {
    flex-basis: 20%;
    flex-shrink: 1;
    border-radius: 20px;
    text-align: center;
    font-weight: lighter;
    color: white;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.elements>div:first-child {
    margin-left: auto;
}

.elements>div:last-child {
    margin-right: auto;
}

.fire {
    background-color: #eb5b51;
}

.grass {
    background-color: #93C854;
}

.poison {
    background-color: #B154C8;
}

.water {
    background-color: #5494c8;
}

figure {
    width: 100%;
    height: auto;
    padding: 20px;
}

figure>img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 60%;
}

p {
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

.outer-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: 480px;
    margin-bottom: 30px;
}

.outer-container:last-child {
    margin-bottom: 0;
}

.inner-container {
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 1;
    outline: 1px solid red;
}

.double {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 100%;
}

.margin {
    margin-right: 0;
}

.pokemon-nav {
    display: flex;
    align-items: center;
}

.pokemon-nav>div {
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    background-color: #CAE2F2;
}

.pokemon-nav>div:first-child {
    margin-left: auto;
}

.pokemon-nav>div:last-child {
    margin-right: auto;
}

.pokemon-nav>div {
    margin: 5px;
}

.active-pokemon {
    background-color: #4195D5 !important;
}

#calendar {
    display: flex;
    font-size: 12px;
    flex-direction: column;
}

#calendar>div {
    display: flex;
    flex: 1;
    margin: 0.3em;
}

#calendar>div>div {
    flex: 1;
}

#calendar p {
    flex: 1;
    padding: 0.7em;
    text-align: center;
    border-radius: 5px;
}

.grey {
    color: #CAE2F2;

}

.bg {
    color: #6FAFDC;
    background-color: #F7FBFD;
}

.today {
    background-color: #4195D5;
    color: white;
}

.calendar-head {
    font-weight: bolder;
}

input {
    width: 100%;
    height: 120%;
    border: 0;

}